@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "abel";
  src: url("/fonts/abel/Abel-Regular.ttf");
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Lobster";
  src: local('Lobster'), url("/fonts/lobster/Lobster-Regular.ttf");
}
